@tailwind base;
@tailwind components;
@tailwind utilities;

/* NOTE: To use the custom font, you must link it in public/index.html.
  Example link for Playfair Display: 
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet"> 
*/